{% block nav %}

<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'sourcery:index' %}">Sourcery</a>
  <ul class="nav">
{% if user.is_authenticated %}
    <li class="nav-item">
    <a class="nav-link link" href="{% url 'sourcery:logout' %}"
        ><i class="far fa-calendar-alt"></i>Logout</a>
    </li>
    {% else %}
    <li class="nav-item">
      <a class="nav-link link" href="{% url 'sourcery:login' %}"
        ><i class="far fa-user-circle"></i>Login</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link link" href="{% url 'sourcery:register' %}"
        ><i class="far fa-building"></i>Register</a>
    </li>
    {% endif %}
</ul>   
</nav>

{% endblock %}